.Empty-text {
    padding: 10px;
}

.Tuto {
    position: absolute;
    bottom: 25vh;
    right: 10vh;
    text-align: center;
}

.Tuto-text {
    font-size: 26px;
    font-weight: 700;
    color: #5E7999;
}