<div *ngIf="project">
    <div class="Project-detail">
        <!-- Project picture -->
        <img *ngIf="project.picture" width="50" [src]="project.picture" alt="photo du projet">
        <img *ngIf="!project.picture" width="50" src="assets/images/default_project_picture.png" alt="photo du projet">
        
        <div>
            <input type="file" (change)="getFile($event, 'projectPictureFile')">
        </div>

        <!-- Project info -->
        <p>{{ project.character }}</p>
        <p>{{ project.series }}</p>
        <p>{{ project.percentDone }} %</p>
        <p>Date initiale : <span>{{ project.initialDate ? project.initialDate : '/' }}</span></p>
        <p>Deadline : <span>{{ project.dueDate ? project.dueDate : '/' }}</span></p>
        <p>Budget : <span>{{ project.budget ? project.budget + ' €' : '/' }}</span></p>

        <button (click)="openEditProjectModal(project)">Modifier</button>
    </div>

    <ngb-tabset justify="justified">
        <ngb-tab>
            <ng-template ngbTabTitle>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Achat ({{ getPurchasesStatus(project.purchases) }}/{{ project.purchases.length }})
                <i *ngIf="getPurchasesStatus(project.purchases) === project.purchases.length" class="fa fa-check" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
                <!-- Purchases -->
                <div class="Purchases-list" *ngIf="project.purchases.length > 0">
                    <div class="Purchase-title">
                        <p>A acheter</p>
                        <p>Prix</p>
                        <p>Statut</p>
                    </div>
                    <div class="Purchase-content" *ngFor="let projectPurchase of project.purchases; index as i">
                        <p>{{ projectPurchase.name }}</p>
                        <p>{{ projectPurchase.price ? projectPurchase.price + '€' : '-' }}</p>
                        <i (click)="updateStatus(i, false)" class="fa fa-check-circle Status-icon" aria-hidden="true"
                            *ngIf="projectPurchase.status === true"></i>
                        <i (click)="updateStatus(i, true)" class="fa fa-circle-o Status-icon" aria-hidden="true"
                            *ngIf="projectPurchase.status === false"></i>
                    </div>
                </div>
                <button (click)="openAddProjectPurchaseModal(project)">Ajouter un achat</button>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>
                <i class="fa fa-gavel" aria-hidden="true"></i>
                A faire ({{ getTodosStatus(project.todos) }}/{{ project.todos.length }})
                <i *ngIf="getTodosStatus(project.todos) === project.todos.length" class="fa fa-check" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
                <!-- Todos -->
                <div class="Todos-list" *ngIf="project.todos.length > 0">
                    <div class="Todo-title">
                        <p>A faire</p>
                        <p>Temps estimé</p>
                        <p>Temps passé</p>
                        <p>Pourcent</p>
                    </div>
                    <div class="Todo-content" *ngFor="let projectTodo of project.todos">
                        <p>{{ projectTodo.name }}</p>
                        <p>{{ projectTodo.estimate.length > 0 ? projectTodo.estimate : '-' }}</p>
                        <p>{{ projectTodo.time.length > 0 ? projectTodo.time : '-' }}</p>
                        <p>{{ projectTodo.percent }} %</p>
                    </div>
                </div>
                <button (click)="openAddProjectTodoModal(project)">Ajouter</button>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                Référence ({{ project.references.length }})
            </ng-template>
            <ng-template ngbTabContent *ngIf="project.references.length > 0">
                <div *ngFor="let projectReference of project.references">
                    <img width="100" [src]="projectReference" alt="image de référence">
                </div>
                <input type="file" (change)="getFile($event, 'referencePictureFile')">
            </ng-template>
            <ng-template ngbTabContent *ngIf="project.references.length <= 0">
                <input type="file" (change)="getFile($event, 'referencePictureFile')">
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>

<a routerLink="/index">Revenir en arrière</a>