.Project-detail {
    text-align: center;
}

.Todos-list,
.Purchases-list {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
}

.Todo-content, .Todo-title,
.Purchase-content, .Purchase-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2em;
}

.Todo-content > *,
.Todo-title > *,
.Purchase-content > *,
.Purchase-title > * {
    text-align: center;
    flex: 1;
    margin: .5em 0;
}

.Todo-content > *:first-child,
.Todo-title > *:first-child,
.Purchase-content > *:first-child,
.Purchase-title > *:first-child {
    text-align: left;
}

.Todo-title,
.Purchase-title {
    background-color: #dedede;
    font-weight: 600;
}

.Status-icon {
    padding: 10px;
}