<div *ngIf="projects">
    <div *ngFor="let project of projects">
        <p>{{ project.character }}</p>
        <p>{{ project.series }}</p>
        <p>{{ project.percentDone }} %</p>
        <img *ngIf="project.picture" width="50" [src]="project.picture" alt="photo du projet">
        <img *ngIf="!project.picture" width="50" src="assets/images/default_project_picture.png" alt="photo du projet">
    
        <a routerLink="/detail/{{ project.id }}">Voir</a>
    </div>
    
    <button (click)="openAddProjectModal()">Ajouter un projet</button>
</div>