<div *ngIf='project' class="u-modal">
    <div class="modal-header">
        <h4 class="modal-title">Ajouter un achat</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <ngb-alert *ngIf="!name" type="warning" [dismissible]="false">
            Le champ <span class="u-bold">Nom</span> est obligatoire.
        </ngb-alert>
        <input type="text" class="form-control u-input" [(ngModel)]="name" placeholder="Nom*" required />
        <input type="number" class="form-control u-input" [(ngModel)]="price" placeholder="Prix (optionnel)" min="0" />
    </div>

    <button ngbAutofocus type="button" class="btn u-button" [disabled]="name ? false : true"
        (click)="addPurchaseProject(this.activeModal)">Sauvergarder</button>
</div>