@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/font-awesome/css/font-awesome.css';

// Override Html
html {
    font-size: 18px;
}

body {
    background-color: #FFF9F7;
    font-family: 'Red Hat Display', sans-serif;
    color: #333;
    font-weight: 400;
}

button {
    outline: none;
}

p,
label {
    margin: 0;
}

// Utilities (always begin with u-)
.u-background {
    color: #FFF9F7;
}

.u-body {
    padding-top: 4em;
}

.u-medium {
    font-weight: 500;
}

.u-bold {
    font-weight: 600;
}

.u-button-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.u-button {
    border-radius: 0;
    background-color: #8D485A;
    color: #FFF9F7;
    cursor: pointer;
    font-size: 24px;
    width: 100%;
}

.u-button:hover {
    color: #fff;
}

.u-center {
    text-align: center;
    margin: auto;
}

.u-header {
    padding: .5em;
    text-align: center;
    background-color: #6A8991;
    color: #fff;
    font-size: 24px;
    position: fixed;
    width: 100%;
    z-index: 1;

    i {
        position: absolute;
        top: 15px;
        font-size: 30px;
        cursor: pointer;
    }

    i:first-child {
        left: 15px;
    }

    i:last-child {
        right: 15px;
    }
}

// Input
.u-input {
    border-radius: 0;
    background: #fff;
    margin: 1px 0;
    border: 0;
    box-shadow: 3px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.u-input-calendar[readonly] {
    background-color: #fff;
}

.u-input::placeholder {
    color: #D0D8D9;
}

.u-input-icon {
    position: relative;
    width: 100%;
}

.u-input-icon-button {
    position: absolute;
    right: 0;
}

.u-input-icon + i {
    position: absolute;
    top: 83px;
    right: 10px;
    color: #8D485A;
}

.u-input-icon + i.inactive {
    color: #D0D8D9;
}

.u-input-button:hover {
    background: #8D485A;
    color: #FFF9F7;
}

form {
    .u-label {
        padding: 15px 10px 10px;
    }
}

// Input file
.u-input-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    img {
        margin: 10px;
    }

    .u-input {
        display: none;
    }
}

.u-label-file {
    border-radius: 0;
    background: #fff;
    margin: 1px 0;
    border: 0;
    box-shadow: 3px 1px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 10px;
    position: relative;
}

.u-modal {
    background-color: #FFF9F7;

    h4 {
        text-align: center;
        margin: auto;
    }

    .alert {
        margin: 0;
    }

    button.close {
        color: #8D485A;
        opacity: 100;
        position: absolute;
        right: 20px;
    }

    .modal-body {
        padding: 0;
    }

    button {
        border: 0;
    }

    .u-button {
        margin-top: 30px;
    }
}

.u-project-picture {
    border-radius: 80px;
    width: 80px;
    height: 80px;
    position: relative;

    i {
        position: absolute;
        right: 0;
        bottom: 0;
        color: #FFF9F7;
        background: #8D485A;
        border-radius: 30px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 4px rgba(0,0,0,.4);
    }
}

.u-sticky-button {
    background: #8D485A;
    border: 0;
    color: #FFF9F7;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    position: fixed;
    bottom: 15px;
    box-shadow: 2px 2px 3px rgba(0,0,0,.3);
    right: 15px;

    i {
        font-size: 40px;
    }
}

.u-section {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px rgba(0,0,0,.1);
    cursor: pointer;

    .u-section-button {
        color: #8D485A;
    }
}

.u-label {
    color: #5E7999;
    font-weight: 500;
}

.u-pointer {
    cursor: pointer;
}